<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:wincap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/windowscapabilities" IgnorableNamespaces="uap mp rescap wincap">
  <Identity Name="c602d2cb-fdd8-4e41-b5a1-8f9a8a1f56c7" Publisher="CN=stept" Version="1.0.39.0" />
  <mp:PhoneIdentity PhoneProductId="c602d2cb-fdd8-4e41-b5a1-8f9a8a1f56c7" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PoGo</DisplayName>
    <PublisherDisplayName>ST-Apps</PublisherDisplayName>
    <Logo>Assets\LiveTiles\Normal\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PoGo.Windows.App">
      <uap:VisualElements DisplayName="PoGo" Square150x150Logo="Assets\LiveTiles\Normal\Square150x150Logo.png" Square44x44Logo="Assets\LiveTiles\Normal\Square44x44Logo.png" Description="Sample" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\LiveTiles\Normal\Wide310x150Logo.png" Square310x310Logo="Assets\LiveTiles\Normal\Square310x310Logo.png" Square71x71Logo="Assets\LiveTiles\Normal\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="packageQuery" />
    <wincap:Capability Name="packageManagement" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
